<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="about.css">
    <title>About Musheer</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom sticky-top navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="empty-space">

      </div>
      <div class="col-m-12 col-xs-12 col-lg-12">
        <h3>About Musheer</h3>
      </div>
    </div>
  </body>
</html>
