<!DOCTYPE html>


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="navbar.css">
    <title>Navbar</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom sticky-top navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nvbr-itms" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="most-out">
      <div id="outer">
        <div id="home-top-video">
          <video autoplay loop muted id="myVideo">
            <source src="stock.mp4" type="video/mp4" /> Your browser does not support the video tag. We suggest you upgrade your browser.
          </video>
          <div id="home-text">
            <div><h1><strong>MUSHEER</strong></h1></div>
            <p class="your-advisor">YOUR FINANCIAL ADVISOR</p>
            <br>
            <br>
            <a href="#" class="btn btn-primary setit">Get Started</a>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-distributed">
      <div class="footer-left">
        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">Forms</a>
          ·
          <a href="#">About Us</a>
        </p>
        <p class="footer-company-name">Musheer &copy; 2019</p>
      </div>
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Razi-I hostels</span> Nust, Islamabad</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>+92 337 7313356</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@musheer.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Contact Us</span>
          For any query, you may call or email us. You may also connect with us on our social accounts.
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
